* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

:root {
  --main-color: #0ef4e5;
}

.navbar{
  position: fixed;
  top: 0;
  width: 100%;
  transition: transform 0.3s ease;
  z-index: 1000;
}

.navbar.show{
  transform: translateY(0);
}

.navbar.hide{
  transform: translateY(-100%);
}

.navbar {
  position: fixed !important;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;

  /* GLASSMORPHISM STYLE */
  background: rgba(0, 0, 0, 0.279);
  backdrop-filter: blur(1px);
  -webkit-backdrop-filter: blur(14px);

  box-shadow: 0 8px 32px rgba(0,0,0,0.45);

  padding: 12px 40px;

  z-index: 99999;
}

.navbar-brand {
  font-weight: bold;
  letter-spacing: 1px;
}

.navbar-brand span{
  text-shadow: 0 0 10px #c9f40a;
}

.urban {
  width: 170px;
  height: 65px;
}

/* NAV LINKS */

.nav-links {
  
  display: flex;
  list-style: none;
  align-items: center;
  margin-top: 10px;
  gap: 18px; /* improved spacing */
}

.nav-links li{
  display: flex;
  align-items: center;
}

.nav-links a{
  color: ghostwhite;
  text-decoration: none;
  padding: 8px 14px;
  border-radius: 6px;
  transition: all 0.3s ease;
  position: relative;
}

/* underline base */

.nav-links a::after{
  content: "";
  position: absolute;

  left: 50%;
  bottom: -4px;

  width: 0%;
  height: 2px;

  background: #c9f40a;

  transition: all 0.3s ease;

  transform: translateX(-50%);
}

/* hover animation */

.nav-links a:hover::after{
  width: 70%;
}

.nav-links a:hover{
  color:#c9f40a;
}

/* JOIN BUTTON */

.join-btn {
  /* background: linear-gradient(135deg,#c9f40a,#a6d804); */
  color: #111;
  padding: 8px 18px;
  border-radius: 25px;
  font-weight: 600;
  text-decoration: none;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
  display: inline-block;

  /* box-shadow: 0 0 12px rgba(201,244,10,0.6); */
}

.join-btn:hover {
  transform: translateY(-2px);
  /* box-shadow: 0 0 22px rgba(201,244,10,0.9); */
  background: transparent;

}

.join-btn:active {
  transform: translateY(0);
  box-shadow: none;
  color: #000;
}

/* REMOVE UNDERLINE FROM BUTTON LINKS */

.nav-links .join-btn::after{
  display: none;
}

/* HAMBURGER MENU */

.menu-toggle{
  display:none;
  font-size:28px;
  color:ghostwhite;
  cursor:pointer;
  right: 15px;
  position: absolute;
}

/* TABLET RESPONSIVE */

@media (max-width:992px){

  .navbar{
    padding:12px 20px;
  }

}

/* MOBILE RESPONSIVE */

@media (max-width:768px){

  .menu-toggle{
    display:block;
  }

  .nav-links{
    position:absolute;

    top:70px;
    left:0;
    right:0;

    flex-direction:column;
    align-items:center;

    background: rgba(0,0,0,0.6);
    backdrop-filter: blur(20px);

    max-height:0;
    overflow:hidden;

    transition:0.4s ease;
  }

  .nav-links.active{
    max-height:80vh;
    overflow-y:auto;
    padding:20px 0;
  }

  .nav-links li{
    margin:12px 0;
  }

}

.nav-links a{
  display:block;
  width:100%;
  text-align:center;
}