* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --main-color: #0ef4e5;
}

.navbar {
  position: fixed !important;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: rgba(0, 0, 0, 0.7);;
  padding: 12px 40px;

  z-index: 99999;
}

.navbar-brand {
  font-weight: bold;
}

.urban {
  width: 170px;
  height: 65px;
}

.nav-links {
  display: flex;
  list-style: none;
  align-items: center;
}

.nav-links li {
  margin-top: 8px;
  margin-bottom: auto;
  margin-left: 20px;
}

.nav-links a {
  color: ghostwhite;
  text-decoration: none;
  padding: 8px 16px;
  border-radius: 4px;
  transition: all 0.3s ease;
}

.nav-links a:hover {
  background-color: ghostwhite;
  color: black;
}

.join-btn {
  background-color: ghostwhite;
  color: black;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  font-weight: 500;
  transition: 0.3s;
}

.join-btn:hover {
  background: gray;
  cursor: pointer;
  color: black;
}

/* HAMBURGER MENU */

.menu-toggle{
  display:none;
  font-size:28px;
  color:ghostwhite;
  cursor:pointer;
}

/* TABLET RESPONSIVE */

@media (max-width:992px){

  .navbar{
    padding:12px 20px;
  }

  .nav-links li{
    margin-left:15px;
  }

}

/* MOBILE RESPONSIVE */

@media (max-width:768px){

  .menu-toggle{
    display:block;
  }

  .nav-links{
    position:absolute;

    top:70px;
    left:0;
    right:0;

    flex-direction:column;
    align-items:center;

    background-color:rgba(0,0,0,0.95);

    max-height:0;
    overflow:hidden;

    transition:0.4s ease;
  }

  .nav-links.active{
    max-height:80vh;     /* allows space for scrolling */
    overflow-y:auto;     /* enables vertical scroll */
    padding:20px 0;
  }

  .nav-links li{
    margin:12px 0;
  }

}

  .nav-links a{
    display:block;
    width:100%;
    text-align:center;
  }

